extends layout

block content
  
  section(id='firstSection')

    .left
      h1= title
      p Welcome to #{title}
      | name:
      br
      input(id='name', type='text', name='name', value='')
      br 
      br
      button(id= 'setNameButton') setName
      br
      br
      .clientsList
      textarea(id= 'message', scroll= "auto")
      br
      .smiles
      br
      button(id= 'videoButton') Video
      button(id= 'messageButton') sendMessage
      input(id= 'files', type='file', name='files[]', multiple='')
      output(id= 'list')
    .right
      video(id= 'videoLocal')
      video(id= 'videoRemote')
      video(id= 'videoPlay', controls, src='/UDa_rRxAUrdGHGrdAAAA')
      .allMessages
  section(id= 'container')
    span Transmit text
    #buttons
      button#startButton Start
      button#sendButton(disabled='') Send
      button#closeButton(disabled='') Stop
    #sendReceive
      #send
        h2 Send
        textarea#dataChannelSend(disabled='', placeholder='Press Start, enter some text, then press Send.')
      #receive
        h2 Receive
        textarea#dataChannelReceive(disabled='')



