extends layout

block content
  
  section(id='firstSection')

    .left
      h1= title
      p Welcome to #{title}
      | name:
      br
      input(id='name', type='text', name='name', value='')
      br 
      br
      button(id= 'setNameButton') setName
      br
      br
      .clientsList
      textarea(id= 'message', scroll= "auto")
      br
      .smiles
      br
      button(id= 'messageButton') sendMessage
      input(id= 'files', type='file', name='files[]', multiple='')
      output(id= 'list')
    .right
      audio(id= 'soundLocal', autoplay, controls, muted)
      button(id= 'videoButton') Video
      button(id= 'videoReceiveButton')  Receive Video
      button(id= 'soundButton') Sounds
      button(id= 'soundReceiveButton')  Receive Sound
      br
      audio(id= 'soundRemote', controls)
      video(id= 'videoLocal', controls)
      canvas(id= 'canvasLocal')
      //-video(id= 'videoRemote', controls)
      canvas(id= 'canvasRemote')
      img(id= 'imageRemoteBase64')
      //- video(id= 'videoPlay', controls)
      .allMessages


