extends layout

block content
  
  section(id='firstSection')

    .left
      input#files(type='file', name='files[]', multiple='')
      #drop_zone Drop files here
      output#list
      h1= title
      p Welcome to #{title}
      | name:
      br
      input(id='name', type='text', name='name', value=' ')
      br 
      br
      button(id= 'setNameButton') setName
      br
      br
      .clientsList
      textarea(id= 'message', scrol= "auto")
      br
      .smiles
      br
      button(id= 'messageButton', onclick='sendMessage()') sendMessage
    .right
      .allMessages

