extends layout

block content
  
  section(id='firstSection')

    .left
      h1= title
      p Welcome to #{title}
      | name:
      br
      input(id='name', type='text', name='name', value='')
      br 
      br
      button(id= 'setNameButton') setName
      br
      br
      .clientsList
      textarea(id= 'message', scroll= "auto")
      br
      .smiles
      br
      button(id= 'messageButton') sendMessage
      input(id= 'files', type='file', name='files[]', multiple='')
      output(id= 'list')
    .right
      .allMessages

