extends layout

block content
  
  section(id='firstSection')

    .left
      h1= title
      p Welcome to #{title}
      | name:
      br
      input(id='name', type='text', name='name', value='')
      br 
      br
      button(id= 'setNameButton') setName
      br
      br
      .clientsList
      textarea(id= 'message', scroll= "auto")
      br
      .smiles
      br
      button(id= 'videoButton') Video
      button(id= 'soundButton') Sounds
      button(id= 'messageButton') sendMessage
      input(id= 'files', type='file', name='files[]', multiple='')
      output(id= 'list')
    .right
      audio(id= 'soundLocal', autoplay, controls, muted)
      button(id= 'soundReceiveButton')  Receive Sound
      br
      button(id= 'stopButton') Stop
      audio(id= 'soundRemote', controls, muted)
      video(id= 'videoLocal', controls)
      canvas(id= 'canvasLocal')
      br
      //-video(id= 'videoRemote', controls)
      canvas(id= 'canvasRemote')
      img(id= 'imageRemoteBase64')
      //- video(id= 'videoPlay', controls)
      .allMessages
  section(id= 'container')
    span Transmit text
    #buttons
      button#startButton Start
      button#sendButton(disabled='') Send
      button#closeButton(disabled='') Stop
    #sendReceive
      #send
        h2 Send
        textarea#dataChannelSend(disabled='', placeholder='Press Start, enter some text, then press Send.')
      #receive
        h2 Receive
        textarea#dataChannelReceive(disabled='')



