body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#firstSection {
  display: flex;
  flex-direction: row;
  background: rgb(121, 201, 241);
}
.allMessages {
  background: rgb(242, 245, 65);
}